openapi: 3.1.0
info:
  title: Cortex Catalog API
  description: 'REST endpoints exposed by Cortex, the Internal Developer Portal and

    service catalog. Endpoints provide read access to catalog entities,

    scorecards, initiatives, and entity descriptors. Authentication uses a

    personal access token as a Bearer token.

    '
  version: v1
  contact:
    name: Cortex
    url: https://docs.cortex.io
servers:
- url: https://api.getcortexapp.com
  description: Cortex API
security:
- BearerAuth: []
tags:
- name: Catalog
  description: Catalog entity operations
paths:
  /api/v1/catalog:
    get:
      tags:
      - Catalog
      summary: List all catalog entities
      operationId: listCatalogEntities
      responses:
        '200':
          description: A list of catalog entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  entities:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogEntity'
  /api/v1/catalog/{tagOrId}:
    parameters:
    - in: path
      name: tagOrId
      required: true
      schema:
        type: string
      description: The entity tag or unique identifier.
    get:
      tags:
      - Catalog
      summary: Retrieve specific entity details
      operationId: getCatalogEntity
      responses:
        '200':
          description: The catalog entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogEntity'
  /api/v1/catalog/descriptors:
    get:
      tags:
      - Catalog
      summary: List entity descriptors (YAML definitions)
      operationId: listCatalogDescriptors
      responses:
        '200':
          description: A list of entity descriptors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  descriptors:
                    type: array
                    items:
                      type: object
  /api/v1/catalog/{tagOrId}/dependencies:
    parameters:
    - in: path
      name: tagOrId
      required: true
      schema:
        type: string
      description: The entity tag or unique identifier.
    get:
      tags:
      - Catalog
      summary: View entity dependencies
      operationId: getCatalogEntityDependencies
      responses:
        '200':
          description: Dependencies for the entity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dependencies:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogEntity'
components:
  schemas:
    CatalogEntity:
      type: object
      properties:
        tag:
          type: string
        name:
          type: string
        type:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Personal Access Token
      description: 'Provide a Cortex personal access token using `Authorization: Bearer

        <CORTEX_TOKEN>`.

        '
